.root {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 450px;
  margin: auto;
  background: #6b527a;
  background: radial-gradient(
    circle at center 80%,
    #6b527a 0,
    #4e3b58,
    #252033 100%
  );
  background-attachment: fixed;
}

.user {
  position: fixed;
}
