.root {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 450px;
  margin: auto;
}

.root_preventScrolling {
  overflow-y: hidden;
}

.user {
  position: fixed;
}
