.friend {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

/* Some space below the last friend so it's placed above the user. */
.friend:last-child::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 1px;
  height: 230px;
  pointer-events: none;
}
